*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 50px;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor-variante{
    width: 80%;
}

.contenedor__texto{
    padding: 40px;
}

h2,h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.imagen{
    border-radius: 50%;
}