*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 50px;
}

.contenedor{
    display: flex;
    justify-content: center;
}
/*contenedor del contenido*/
.contenedor-variante{
    width: 80%;
}
/*Imagen izquierda*/
.imagen{
    border-radius: 50%;
}
/*Texto derecho*/
.contenedor__texto{
    padding: 40px;
}

h2,h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

/*Footer*/

.footer{
    display: flex;
    margin-top: 50px;
    align-items: center; /*Centra en Y*/
    justify-content: center; /*Centra en X*/
    background-color: tomato;
    height: 120px;
    gap: 50px;
}

.footer__columna p{
    color: brown;
    font-weight: bold;
    font-size: 1.8rem;
}
